@model UserModel

@{
    ViewBag.Title = "Login";
}

<h3>@ViewBag.Title</h3>

<form asp-action="Login">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-2">
            <label asp-for="UserName"></label>
        </div>
        <div class="col-4">
            <input asp-for="Record.UserName" class="form-control" />
            <span asp-validation-for="Record.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Password"></label>
        </div>
        <div class="col-4">
            <input asp-for="Record.Password" class="form-control" type="password" />
            <span asp-validation-for="Record.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</form>