@{
    ViewData["Title"] = "Home Page";
    string title = "Welcome to " + AppSettings.Title + " " + 
        (User.Identity.IsAuthenticated ? User.Identity.Name : "Guest");
    var description = AppSettings.Description;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>@description</p>
</div>
